In [10]:
import pandas as pd

In [11]:
pd.__version__

'1.3.4'

## Download data and read csv to pandas data frame

In [5]:
# Download taxi trips data from January 2021
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2021-01.csv

# Download zone look up data
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-01-23 16:36:02--  https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2021-01.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.129.45
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.129.45|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 125981363 (120M) [text/csv]
Saving to: ‘yellow_tripdata_2021-01.csv’

yellow_tripdata_202 100%[===================>] 120.14M  33.2MB/s    in 4.2s

2022-01-23 16:36:06 (28.4 MB/s) - ‘yellow_tripdata_2021-01.csv’ saved [125981363/125981363]

--2022-01-23 16:36:07--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.92.206
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.92.206|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2022-01-23 16:36:07 (64.3 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [12]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=100)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   tpep_pickup_datetime   100 non-null    object
 2   tpep_dropoff_datetime  100 non-null    object
 3   passenger_count        100 non-null    int64
 4   trip_distance          100 non-null    float64
 5   RatecodeID             100 non-null    int64
 6   store_and_fwd_flag     100 non-null    object
 7   PULocationID           100 non-null    int64
 8   DOLocationID           100 non-null    int64
 9   payment_type           100 non-null    int64
 10  fare_amount            100 non-null    float64
 11  extra                  100 non-null    float64
 12  mta_tax                100 non-null    float64
 13  tip_amount             100 non-null    float64
 14  tolls_amount           100 non-null    float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  congestion_surcharge   100 non-null    float64
dtypes: float64(9), int64(6), object(3)
memory usage: 14.2+ KB

In [15]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

## Load data to DB

In [20]:
from sqlalchemy import create_engine

In [23]:
engine = create_engine("postgresql://root:root@localhost:5050/ny_taxi")

In [24]:
# create schema for creating table in postgres
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [41]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [42]:
df = next(df_iter)

In [43]:
len(df)

100000

In [28]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [30]:
df.sample(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
51012,2,2021-01-02 20:45:56,2021-01-02 20:52:33,3,1.64,1,N,50,246,1,7.5,0.5,0.5,2.82,0.00,0.3,14.12,2.5
40931,1,2021-01-02 16:27:06,2021-01-02 16:32:20,1,0.20,1,N,163,161,1,5.0,2.5,0.5,1.65,0.00,0.3,9.95,2.5
37569,2,2021-01-02 15:24:21,2021-01-02 15:31:50,1,1.72,1,N,229,237,1,8.0,0.0,0.5,2.00,0.00,0.3,13.30,2.5
30393,1,2021-01-02 12:47:33,2021-01-02 12:58:08,1,2.20,1,N,68,163,1,10.0,2.5,0.5,3.95,0.00,0.3,17.25,2.5
67108,2,2021-01-03 14:41:20,2021-01-03 14:59:43,1,10.26,1,N,138,233,2,28.5,0.0,0.5,0.00,6.12,0.3,37.92,2.5
85063,1,2021-01-04 08:46:47,2021-01-04 08:52:23,1,0.80,1,N,233,170,1,5.5,2.5,0.5,2.00,0.00,0.3,10.80,2.5
98628,2,2021-01-04 13:49:57,2021-01-04 14:06:21,2,7.10,1,N,239,127,2,22.5,0.0,0.5,0.00,0.00,0.3,25.80,2.5
43989,2,2021-01-02 17:50:32,2021-01-02 18:02:03,1,2.02,1,N,137,114,1,9.5,0.0,0.5,3.84,0.00,0.3,16.64,2.5
44755,1,2021-01-02 17:43:38,2021-01-02 17:49:56,1,1.20,1,N,113,68,1,6.5,2.5,0.5,2.90,0.00,0.3,12.70,2.5
45789,2,2021-01-02 17:53:17,2021-01-02 18:10:11,1,4.71,1,N,79,145,2,16.0,0.0,0.5,0.00,0.00,0.3,19.30,2.5

In [33]:
df.head(0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

In [34]:
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

CPU times: user 5 s, sys: 64.2 ms, total: 5.07 s
Wall time: 9.61 s

In [39]:
from time import time

In [44]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)    
    
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    
    t_end = time()
    
    print(f"Inserted another chunk, took {t_end-t_start:.3f} seconds")

Inserted another chunk, took 9.473 seconds
Inserted another chunk, took 9.702 seconds
Inserted another chunk, took 9.351 seconds
Inserted another chunk, took 9.368 seconds
Inserted another chunk, took 9.711 seconds
Inserted another chunk, took 9.645 seconds
Inserted another chunk, took 9.392 seconds
Inserted another chunk, took 9.856 seconds
Inserted another chunk, took 9.458 seconds
Inserted another chunk, took 9.752 seconds
Inserted another chunk, took 9.375 seconds

/home/sirish/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3364: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

Inserted another chunk, took 9.243 seconds
Inserted another chunk, took 6.002 seconds

StopIteration:

### Load zones data

In [45]:
df_zones = pd.read_csv("taxi+_zone_lookup.csv")

In [48]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [47]:
df_zones.to_sql(name="taxi_zones", con=engine, if_exists="replace")