In [15]:
import pyspark

In [16]:
!wc -l data/fhvhv_tripdata_2021-01.csv

11908469 data/fhvhv_tripdata_2021-01.csv

In [17]:
from pyspark.sql import SparkSession

In [18]:
spark = SparkSession.builder\
    .master("local[*]")\
    .appName('test')\
    .getOrCreate()

In [19]:
df = spark.read\
    .option("header", "true")\
    .csv('data/fhvhv_tripdata_2021-01.csv')

In [20]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02682|2021-01-01 00:33:44|2021-01-01 00:49:07|         230|         166|   null|
|           HV0003|              B02682|2021-01-01 00:55:19|2021-01-01 01:18:21|         152|         167|   null|
|           HV0003|              B02764|2021-01-01 00:23:56|2021-01-01 00:38:05|         233|         142|   null|
|           HV0003|              B02764|2021-01-01 00:42:51|2021-01-01 00:45:50|         142|         143|   null|
|           HV0003|              B02764|2021-01-01 00:48:14|2021-01-01 01:08:42|         143|          78|   null|
|           HV0005|              B02510|2021-01-01 00:06:59|2021-01-01 00:43:01|          88|          42|   null|
|           HV0005|              B02510|2021-01-01 00:50:00|2021-01-01 01:04:57|          42|         151|   null|
|           HV0003|              B02764|2021-01-01 00:14:30|2021-01-01 00:50:27|          71|         226|   null|
|           HV0003|              B02875|2021-01-01 00:22:54|2021-01-01 00:30:20|         112|         255|   null|
|           HV0003|              B02875|2021-01-01 00:40:12|2021-01-01 00:53:31|         255|         232|   null|
|           HV0003|              B02875|2021-01-01 00:56:45|2021-01-01 01:17:42|         232|         198|   null|
|           HV0003|              B02835|2021-01-01 00:29:04|2021-01-01 00:36:27|         113|          48|   null|
|           HV0003|              B02835|2021-01-01 00:48:56|2021-01-01 00:59:12|         239|          75|   null|
|           HV0004|              B02800|2021-01-01 00:15:24|2021-01-01 00:38:31|         181|         237|   null|
|           HV0004|              B02800|2021-01-01 00:45:00|2021-01-01 01:06:45|         236|          68|   null|
|           HV0003|              B02682|2021-01-01 00:11:53|2021-01-01 00:18:06|         256|         148|   null|
|           HV0003|              B02682|2021-01-01 00:28:31|2021-01-01 00:41:40|          79|          80|   null|
|           HV0003|              B02682|2021-01-01 00:50:49|2021-01-01 00:55:59|          17|         217|   null|
|           HV0005|              B02510|2021-01-01 00:08:40|2021-01-01 00:39:39|          62|          29|   null|
|           HV0003|              B02836|2021-01-01 00:53:48|2021-01-01 01:11:40|          22|          22|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [21]:
df.head(5)

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2021-01-01 00:33:44', dropoff_datetime='2021-01-01 00:49:07', PULocationID='230', DOLocationID='166', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2021-01-01 00:55:19', dropoff_datetime='2021-01-01 01:18:21', PULocationID='152', DOLocationID='167', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:23:56', dropoff_datetime='2021-01-01 00:38:05', PULocationID='233', DOLocationID='142', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:42:51', dropoff_datetime='2021-01-01 00:45:50', PULocationID='142', DOLocationID='143', SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2021-01-01 00:48:14', dropoff_datetime='2021-01-01 01:08:42', PULocationID='143', DOLocationID='78', SR_Flag=None)]

In [22]:
df.schema

StructType(List(StructField(hvfhs_license_num,StringType,true),StructField(dispatching_base_num,StringType,true),StructField(pickup_datetime,StringType,true),StructField(dropoff_datetime,StringType,true),StructField(PULocationID,StringType,true),StructField(DOLocationID,StringType,true),StructField(SR_Flag,StringType,true)))

In [23]:
!head -n 101 data/fhvhv_tripdata_2021-01.csv > head.csv

In [24]:
!wc -l head.csv

101 head.csv

In [25]:
import pandas as pd

In [26]:
df_pandas = pd.read_csv('head.csv')

In [27]:
df_pandas.dtypes

hvfhs_license_num        object
dispatching_base_num     object
pickup_datetime          object
dropoff_datetime         object
PULocationID              int64
DOLocationID              int64
SR_Flag                 float64
dtype: object

In [35]:
df_pandas.sample(5)

,hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag
42,HV0003,B02682,2021-01-01 00:35:20,2021-01-01 00:44:08,91,89,NaN
55,HV0005,B02510,2021-01-01 00:32:35,2021-01-01 00:43:30,37,148,NaN
14,HV0004,B02800,2021-01-01 00:45:00,2021-01-01 01:06:45,236,68,NaN
30,HV0005,B02510,2021-01-01 00:45:29,2021-01-01 01:09:46,82,244,NaN
17,HV0003,B02682,2021-01-01 00:50:49,2021-01-01 00:55:59,17,217,NaN

In [28]:
spark.createDataFrame(df_pandas).schema

StructType(List(StructField(hvfhs_license_num,StringType,true),StructField(dispatching_base_num,StringType,true),StructField(pickup_datetime,StringType,true),StructField(dropoff_datetime,StringType,true),StructField(PULocationID,LongType,true),StructField(DOLocationID,LongType,true),StructField(SR_Flag,DoubleType,true)))

In [29]:
from pyspark.sql import types

In [30]:
# Schema for spark dataframe
schema = types.StructType([
        types.StructField('hvfhs_license_num', types.StringType(), True),
        types.StructField('dispatching_base_num', types.StringType(), True),
        types.StructField('pickup_datetime', types.TimestampType(), True),
        types.StructField('dropoff_datetime', types.TimestampType(), True),
        types.StructField('PULocationID', types.IntegerType(), True),
        types.StructField('DOLocationID', types.IntegerType(), True),
        types.StructField('SR_Flag', types.StringType(), True)]
)

In [35]:
# Read spark dataframe with above schema
df = spark.read\
    .option("header", "true")\
    .schema(schema)\
    .csv('data/fhvhv_tripdata_2021-01.csv')

In [36]:
df.head(10)

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 33, 44), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 49, 7), PULocationID=230, DOLocationID=166, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 55, 19), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 18, 21), PULocationID=152, DOLocationID=167, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 23, 56), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 38, 5), PULocationID=233, DOLocationID=142, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 42, 51), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 45, 50), PULocationID=142, DOLocationID=143, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 48, 14), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 8, 42), PULocationID=143, DOLocationID=78, SR_Flag=None),
 Row(hvfhs_license_num='HV0005', dispatching_base_num='B02510', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 6, 59), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 43, 1), PULocationID=88, DOLocationID=42, SR_Flag=None),
 Row(hvfhs_license_num='HV0005', dispatching_base_num='B02510', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 50), dropoff_datetime=datetime.datetime(2021, 1, 1, 1, 4, 57), PULocationID=42, DOLocationID=151, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 14, 30), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 50, 27), PULocationID=71, DOLocationID=226, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02875', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 22, 54), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 30, 20), PULocationID=112, DOLocationID=255, SR_Flag=None),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02875', pickup_datetime=datetime.datetime(2021, 1, 1, 0, 40, 12), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 53, 31), PULocationID=255, DOLocationID=232, SR_Flag=None)]

In [40]:
# Store this datafile into multiple partitions(files)
df = df.repartition(24)

In [43]:
df

DataFrame[hvfhs_license_num: string, dispatching_base_num: string, pickup_datetime: timestamp, dropoff_datetime: timestamp, PULocationID: int, DOLocationID: int, SR_Flag: string]

In [41]:
df.write.parquet('data/fhvhv/2021/01/')

In [44]:
df = spark.read.parquet('data/fhvhv/2021/01/')

In [45]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

In [46]:
df.select('pickup_datetime', 'pickup_datetime', 'PULocationID', 'PULocationID')\
  .filter(df.hvfhs_license_num == 'HV0003')\
  .show() # Action(executed immediately)

+-------------------+-------------------+------------+------------+
|    pickup_datetime|    pickup_datetime|PULocationID|PULocationID|
+-------------------+-------------------+------------+------------+
|2021-01-05 22:14:07|2021-01-05 22:14:07|         189|         189|
|2021-01-02 17:59:55|2021-01-02 17:59:55|          88|          88|
|2021-01-02 23:57:54|2021-01-02 23:57:54|         238|         238|
|2021-01-06 15:53:13|2021-01-06 15:53:13|         169|         169|
|2021-01-07 07:35:24|2021-01-07 07:35:24|          75|          75|
|2021-01-07 08:45:12|2021-01-07 08:45:12|         210|         210|
|2021-01-02 15:44:26|2021-01-02 15:44:26|         243|         243|
|2021-01-04 16:50:28|2021-01-04 16:50:28|         250|         250|
|2021-01-03 10:30:34|2021-01-03 10:30:34|          87|          87|
|2021-01-03 22:05:20|2021-01-03 22:05:20|          68|          68|
|2021-01-04 08:01:02|2021-01-04 08:01:02|          95|          95|
|2021-01-02 13:01:10|2021-01-02 13:01:10|         262|         262|
|2021-01-06 17:12:27|2021-01-06 17:12:27|         237|         237|
|2021-01-04 09:05:18|2021-01-04 09:05:18|         159|         159|
|2021-01-06 16:46:47|2021-01-06 16:46:47|         109|         109|
|2021-01-06 08:03:47|2021-01-06 08:03:47|         145|         145|
|2021-01-04 06:45:42|2021-01-04 06:45:42|         250|         250|
|2021-01-03 13:20:41|2021-01-03 13:20:41|         130|         130|
|2021-01-03 17:30:33|2021-01-03 17:30:33|          81|          81|
|2021-01-06 20:55:57|2021-01-06 20:55:57|         113|         113|
+-------------------+-------------------+------------+------------+
only showing top 20 rows

In [40]:
df.select('pickup_datetime', 'pickup_datetime', 'PULocationID', 'PULocationID')\
  .filter(df.hvfhs_license_num == 'HV0003')\
  .take(5) # Action(executed immediately)

[Row(pickup_datetime=datetime.datetime(2021, 1, 5, 22, 14, 7), pickup_datetime=datetime.datetime(2021, 1, 5, 22, 14, 7), PULocationID=189, PULocationID=189),
 Row(pickup_datetime=datetime.datetime(2021, 1, 2, 17, 59, 55), pickup_datetime=datetime.datetime(2021, 1, 2, 17, 59, 55), PULocationID=88, PULocationID=88),
 Row(pickup_datetime=datetime.datetime(2021, 1, 2, 23, 57, 54), pickup_datetime=datetime.datetime(2021, 1, 2, 23, 57, 54), PULocationID=238, PULocationID=238),
 Row(pickup_datetime=datetime.datetime(2021, 1, 6, 15, 53, 13), pickup_datetime=datetime.datetime(2021, 1, 6, 15, 53, 13), PULocationID=169, PULocationID=169),
 Row(pickup_datetime=datetime.datetime(2021, 1, 7, 7, 35, 24), pickup_datetime=datetime.datetime(2021, 1, 7, 7, 35, 24), PULocationID=75, PULocationID=75)]

In [41]:
from pyspark.sql import functions as F
from pyspark.sql import types

In [47]:
df\
  .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
  .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
  .select('pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID')\
  .show()

+-----------+------------+------------+------------+
|pickup_date|dropoff_date|PULocationID|DOLocationID|
+-----------+------------+------------+------------+
| 2021-01-03|  2021-01-03|         255|          34|
| 2021-01-05|  2021-01-05|         189|         107|
| 2021-01-02|  2021-01-02|          88|         137|
| 2021-01-02|  2021-01-03|         238|         224|
| 2021-01-06|  2021-01-06|         169|         208|
| 2021-01-07|  2021-01-07|          75|          88|
| 2021-01-07|  2021-01-07|         210|         210|
| 2021-01-02|  2021-01-02|         243|          69|
| 2021-01-04|  2021-01-04|         250|         213|
| 2021-01-03|  2021-01-03|          87|          79|
| 2021-01-03|  2021-01-03|          68|         181|
| 2021-01-04|  2021-01-04|          95|         236|
| 2021-01-02|  2021-01-02|         262|         236|
| 2021-01-04|  2021-01-04|         225|         233|
| 2021-01-06|  2021-01-06|         237|          83|
| 2021-01-05|  2021-01-05|         231|          87|
| 2021-01-06|  2021-01-06|          22|          26|
| 2021-01-04|  2021-01-04|         159|          75|
| 2021-01-06|  2021-01-06|         109|         119|
| 2021-01-06|  2021-01-06|         145|         229|
+-----------+------------+------------+------------+
only showing top 20 rows

In [48]:
def crazy_stuff(base_num):
    num = int(base_num[1:])
    if num % 7 == 0:
        return f's/{num:03x}'
    elif num % 3 == 0:
        return f'a/{num:03x}'
    else:
        return f'e/{num:03x}'

In [52]:
crazy_stuff('B1')

'e/001'

In [49]:
crazy_stuff_udf = F.udf(crazy_stuff, returnType=types.StringType())

In [50]:
df\
  .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
  .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
  .withColumn('base_id', crazy_stuff_udf(df.dispatching_base_num))\
  .select('base_id', 'pickup_date', 'dropoff_date', 'PULocationID', 'PULocationID')\
  .show()

+-------+-----------+------------+------------+------------+
|base_id|pickup_date|dropoff_date|PULocationID|PULocationID|
+-------+-----------+------------+------------+------------+
|  e/9ce| 2021-01-03|  2021-01-03|         255|         255|
|  e/b42| 2021-01-05|  2021-01-05|         189|         189|
|  e/b33| 2021-01-02|  2021-01-02|          88|          88|
|  e/b38| 2021-01-02|  2021-01-03|         238|         238|
|  e/b3b| 2021-01-06|  2021-01-06|         169|         169|
|  e/b33| 2021-01-07|  2021-01-07|          75|          75|
|  e/acc| 2021-01-07|  2021-01-07|         210|         210|
|  e/acc| 2021-01-02|  2021-01-02|         243|         243|
|  e/b35| 2021-01-04|  2021-01-04|         250|         250|
|  s/b3d| 2021-01-03|  2021-01-03|          87|          87|
|  e/a39| 2021-01-03|  2021-01-03|          68|          68|
|  s/acd| 2021-01-04|  2021-01-04|          95|          95|
|  s/b13| 2021-01-02|  2021-01-02|         262|         262|
|  e/9ce| 2021-01-04|  2021-01-04|         225|         225|
|  e/b14| 2021-01-06|  2021-01-06|         237|         237|
|  e/9ce| 2021-01-05|  2021-01-05|         231|         231|
|  e/9ce| 2021-01-06|  2021-01-06|          22|          22|
|  a/a7a| 2021-01-04|  2021-01-04|         159|         159|
|  e/b35| 2021-01-06|  2021-01-06|         109|         109|
|  a/b43| 2021-01-06|  2021-01-06|         145|         145|
+-------+-----------+------------+------------+------------+
only showing top 20 rows